<mat-accordion multi="true" *ngIf="courses.length > 0 && !isLoading">

  <mat-expansion-panel *ngFor="let course of courses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="camp-title"> <h1>{{ course.title }}</h1></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="camp-image">
      <img [src]="course.imagePath" [alt]="course.title">
    </div>
    <div class="panel-content">
      <h2>Description</h2>
      <p class="camp-description">{{ course.description }}</p>
    </div>
    <div class="field">
      <h2>Field:</h2>
      <p class="camp-field">{{course.field}}</p>
    </div>
    <div class="seats">
      <h2>Rating</h2>
      <p class="camp-seats">{{course.rating}}</p>
    </div>
    <div class="url" *ngIf="course.url">
      <button mat-raised-button class="url-button"><a target="_blank" class="camp-url" href="{{course.url}}">Go To Course</a></button>
    </div>
    <button type="submit" *ngIf="adminIsAuthenticated" (click)="onDelete(course.id)" mat-raised-button>DELETE</button>
    <button type="submit" *ngIf="adminIsAuthenticated"  [routerLink]="['/edit',course.id]" mat-raised-button>EDIT</button>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="courses.length >= 0">
</mat-paginator>
<span *ngIf="courses.length<=0">This Page has no courses to display!!</span>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<button mat-raised-button *ngIf="adminIsAuthenticated" [routerLink]="['/admin/signup']">Add NEW ADMIN</button><br><br><br>
<button mat-raised-button *ngIf="adminIsAuthenticated" [routerLink]="['/admin/course/create']">Add A Course</button>
